<div
  class="flex flex-col justify-center h-full absolute left-0 right-0 pointer-events-none"
>
  <div class="center space-x-10">
    <div
      class="dot bg-gray-300 shadow-gray-200 dark:bg-app-dark-mode-color-400 dark:shadow-app-dark-mode-color-200"
      style="animation-delay: 0ms"
    ></div>
    <div
      class="dot bg-gray-300 shadow-gray-200 dark:bg-app-dark-mode-color-400 dark:shadow-app-dark-mode-color-200"
      style="animation-delay: 500ms"
    ></div>
    <div
      class="dot bg-gray-300 shadow-gray-200 dark:bg-app-dark-mode-color-400 dark:shadow-app-dark-mode-color-200"
      style="animation-delay: 1000ms"
    ></div>
  </div>
</div>
