<div class="mb-4">
  <div class="relative flex items-start" [formGroup]="parent" id="form-wrapper">
    <div class="flex h-5 items-center">
      <input
        [id]="name"
        [attr.aria-describedby]="name + '-description'"
        [formControlName]="name"
        type="checkbox"
        class="focus:ring-app-color-500 text-app-color-600 h-4 w-4 rounded border-gray-300"
      />
    </div>
    <div class="ml-3 text-sm">
      <label
        [for]="name"
        [id]="name + '-name'"
        class="font-medium text-gray-700"
        >{{ label }}</label
      >
      <p [id]="name + '-description'" class="text-gray-500" *ngIf="description">
        {{ description }}
      </p>
    </div>
  </div>
  <p
    class="mt-2 text-sm text-red-600"
    [id]="name + '-error'"
    *ngIf="showValidationErrors"
  >
    {{ validationErrorMessage }}
  </p>
</div>
