//boilerplate to add tailwindcss to angular
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

//center a div
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//declare a variable called "primary-color" and set it to the hex of tailwind's blue-500

//secondary-color is a variable that is set to the hex of tailwind's green-300
:root {
  --primary-color: #3b82f6;
  --secondary-color: #10b981;
}

.container {
  @apply p-5 rounded-2xl bg-white/50 dark:bg-app-dark-mode-color-400/30 border shadow-lg text-slate-900 dark:text-gray-100;

  &.primary {
    @apply border-primary shadow-primary/20;
  }

  &.secondary {
    @apply border-secondary shadow-secondary/20;
  }

  &.caution {
    @apply border-purple-500 shadow-purple-700/20;
  }

  &.muted {
    @apply border-gray-200 dark:border-gray-700 dark:shadow-gray-500/20 shadow-gray-200/60;
  }
}

.smooth {
  @apply transition-all duration-300 ease-in-out;
}

.skeleton {
  @apply bg-gray-200 dark:bg-gray-600  animate-pulse;
}
