<div class="overflow-y-auto max-h-screen">
  <div
    class="overflow-hidden rounded-lg container muted shadow-md m-5 flex justify-center w-full"
  >
    <table class="w-full">
      <thead>
        <tr>
          <th
            scope="col"
            class="px-6 py-4 font-medium uppercase tracking-wider"
            *ngFor="let item of headers"
          >
            {{ item }}
          </th>
        </tr>
      </thead>
      <tbody
        class="divide-y border-t border-gray-800 dark:divide-app-dark-mode-color-50 dark:border-app-dark-mode-color-50"
      >
        <tr *ngFor="let row of rows; let i = index">
          <ng-container *ngFor="let cell of row">
            <td class="px-6 py-6 text-center h-20" *ngIf="!cell.data">
              <div class="flex justify-center space-x-2 relative">
                <!-- VALUE/URL -->
                <a
                  [attr.href]="cell.url || null"
                  class="text-center"
                  *ngIf="!cell.html"
                >
                  <span *ngIf="!cell.badge">{{ cell.value }}</span>
                  <app-badge *ngIf="cell.badge" [type]="cell.badge"></app-badge>
                </a>

                <!-- HTML -->
                <span
                  class="text-center"
                  [innerHTML]="cell.html"
                  *ngIf="cell.html"
                ></span>

                <!-- BUTTON -->
                <button
                  [innerHTML]="cell.button"
                  (click)="buttonClicked.emit({
                  row,
                  index: i
                })"
                ></button>

                <!-- COMPONENT -->
                <div *ngIf="cell.component as c" class="my-auto">
                  <ng-content
                    *ngComponentOutlet="c.component; injector: injectors[i]"
                  ></ng-content>
                </div>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
