<div class="flex flex-col space-y-4 my-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Backend URL -->
    <golden-tailwind-input
      name="url"
      label="URL"
      [parent]="form"
    ></golden-tailwind-input>

    <!-- API_Key -->
    <golden-tailwind-input
      name="apiKey"
      type="password"
      [showToggleEye]="true"
      label="Api Key"
      [parent]="form"
    ></golden-tailwind-input>
    <div class="flex justify-end space-x-2">
      <app-ping
        [pingServer$]="pingSubject$"
        class="mt-7"
        (pingResult)="pingResult = $event"
      ></app-ping>

      <golden-tailwind-submit-button
        label="Confirm"
        [loading]="loading"
        [invalid]="form.invalid || pingResult !== 'success'"
      ></golden-tailwind-submit-button>
    </div>
  </form>
</div>
